<!DOCTYPE html>
<html lang="en" ng-app="geekSpace">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link data-require="bootstrap-css@3.*" data-semver="3.3.7" rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"/>
    <script src='lib/angular/angular.js'></script>
    <script src='js/app.js'></script>
    <script src='https://code.angularjs.org/1.8.2/angular-sanitize.min.js'></script>
    <script src='js/directives/ui-bootstrap-tpls-2.5.0.js'></script>
    <script src='js/controllers/comicsController.js'></script>
    <script src='js/controllers/comicDetailsController.js'></script>
    <script src='js/services/comicsService.js'></script>
    <script src='js/services/coinsService.js'></script>
    <script src='js/configValue.js'></script>
    <script src='js/helpers/promiseHelper.js'></script>
    <script src='js/filters/limitText.js'></script>
    <script src='js/filters/formatCurrency.js'></script>
</head>
<body>
<div class="primary-container" ng-controller="comicsCtrl">
    <div class="row">
        <div class="col-sm">
            <img src="img/img2.jpg" class="img-head" alt="herois">
        </div>
    </div>
    <div class="row" style="padding: 20px">
        <div class="col-sm-8"></div>
        <div class="col-sm mt-2">
            <div class="input-group">
                <span class="input-group-addon">Título</span>
                <input type="text" class="form-control" placeholder="Pesquise por título"  ng-model="comicFilter.titleStartsWith">
                <span class="input-group-addon">Limite</span>
                <input type="number" class="form-control" min="1" placeholder="Limite de quadrinhos" ng-model="comicFilter.limit">
                <span class="input-group-addon" style="cursor:pointer;" ng-click="filterComics(comicFilter)"><i class="bi bi-search"></i></span>
            </div>
        </div>
    </div>
    <div>
        <!-- -------------- Spinner load list Comics ------------------>
        <!-- -------------- Spinner load list Comics ------------------>
        <div style="height:50vh;width: 100%;background-color: #212a3b;" ng-if="loadComics">
            <div style="color: white; height: 100%;width: 100%;display: flex;align-items: center;justify-content: center">
                <div class="spinner-border" style="width: 80px; height: 80px;color: #ffc107">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="row" style="padding-left: 20px;padding-right: 20px" ng-if="!loadComics">
            <div class="col-sm-2" ng-repeat="comic in listComics">
                <div class="comics" title="{{comic.title}}" ng-click="comicDetails(comic.id,comic.rare)"
                     ng-class="{'pulse':comic.rare}">
                    <div class="comics-img">
                        <img src="{{comic.thumbnail.path + aspectThumbs}}" alt="herois" width="100%" height="100%"
                             style="border-radius: 20px">
                    </div>
                    <div class="comics-content">
                        <div class="comics-content-title">
                            <h4>{{comic.title | limitText:25:'...'}}</h4>
                        </div>
                        <div class="row mt-n1">
                            <div class="col-sm text-center border-right border-dark">
                                <div style="font-size: 18px"><i class="bi bi-book-half"></i>&nbsp;{{comic.pageCount}}
                                </div>
                            </div>
                            <div class="col-sm text-center">
                                <div style="font-size: 18px; color: green; font-weight: bold"><i
                                        class="bi bi-cart3"></i>&nbsp;{{comic.prices[0].price | formatCurrency:'BRL'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>