<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="css/comicDetailsView.css">
</head>
<body>
<div class="modal-comic-details">
    <div class="modal-body">


        <!-- -------------- Spinner load Comic ------------------>
        <!-- -------------- Spinner load Comic ------------------>
        <div style="height:50vh;width: 100%;background-color: #202224" ng-if="loadComic">
            <div style="color: white; height: 100%;width: 100%;display: flex;align-items: center;justify-content: center">
                <div class="spinner-border" style="width: 80px; height: 80px;color: #ffc107">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

        <div ng-if="!loadComic">
            <div class="row">
                <div class="col-sm-5">
                    <img src="{{comicDetails.images[0].path + aspectThumbs}}" alt="imageComic"
                         class="modal-comic-details-img">
                </div>
                <div class="col-sm" style="justify-content: space-between">
                    <div class="modal-comic-details-about">
                        <h3>{{comicDetails.title}}</h3>
                        <span ng-bind-html="comicVotes" style="color: #ffc107"></span>
                        <span class="item-raro" ng-if="isRare">Item raro</span>
                        <div style="word-wrap: break-word; width: 400px;margin-top: 20px">{{comicDetails.description}}</div>
                    </div>
                    <hr>
                    <div class="modal-comic-buy">
                        <div class="row mt-3">
                            <div class="col-sm text-center">
                                <span style="color: green;font-size: 25px;font-weight: bold">{{comicDetails.prices[0].price | formatCurrency}}</span>
                                &nbsp&nbsp
                                <span style="color: #ffc107;font-size: 14px">{{comicDetails.prices[0].price | formatCurrency:'USD'}}</span>
                                <div ng-if="stateShowReviewBuy">
                                    <div class="cupom-raro pulse" ng-click="applyDiscount('rare')">Cupom raro | 25% OFF</div>
                                    <div class="cupom-comum" ng-hide="isRare" ng-click="applyDiscount('common')">Cupom comum | 10% OFF</div>
                                </div>
                            </div>
                            <div class="col-sm text-center">
                                <button class="btn button-purchase" ng-if="!stateShowReviewBuy" ng-click="showReviewBuy()">
                                    Comprar agora
                                </button>
                                <div ng-if="stateShowReviewBuy" class="modal-comic-finally-buy border-left">
                                    <span style="color: green; font-size: 35px">{{currentPrice | formatCurrency}}</span>
                                    <span class="product-price-mark">{{discountApplied}}</span>
                                    <button class="btn button-finalize-purchase"> <i class="bi bi-cart-check-fill"></i> Finalizar Compra</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>



